#html5-qrcode-button-camera-stop{
    visibility: collapse;
}
.btn-camera{
    width: 100px; 
    height: 100px; 
    background: gray; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}

.camera-icon{
    font-size:25px;
    color:black;
    text-decoration:none
}
.camera-icon:hover{
    text-decoration:none
}
.delete-btn{
    border:none;
    background: transparent;
    color: #4e73df;
    cursor: pointer;
  }
  .delete-btn:hover{
    opacity: .7;
  }
  .delete-btn:active{
    opacity: .5;
  }